.company_profile{
    padding: 40px 180px;
    background-color: #F5F3F4;
    color: rgb(104, 103, 103);
}

.profile_document{
    border: 1px solid black;
    background-color: white;
}
.download_Profile{
    margin-top: 20px;
    background-color: #30D5C8;
    padding: 5px 10px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;   
}
.download_Profile:hover{
    background-color: #54e9dd;
}