.ourCars{
    padding: 80px 180px;
    background-color: #F5F3F4;
    text-align: center;
}

.heading{
    background-color: black;
    color: white;
    padding: 5px 0;
}
.heading h2{
    font-weight: 600;
    font-size: 40px;
}
.driven_cars{
    padding: 0 20px;
    display: flex;
    column-gap: 60px;
    row-gap: 40px;
    margin-top: 40px;
    flex-wrap: wrap;
}
.car h3{
    margin-top: 10px;
    font-weight: 700;
}
.car img{
    width: 440px;
    height: 340px;
}

.Chauffer_driven{
    margin-top: 100px;
}