.header_top{
    background-color: #30D5C8;
    height: 3.375rem;
}
.header_mid{
    display: flex;
    align-items: center;
    height: 4.875rem;
    background-color: #333333;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}
.header_mid_left{
    margin-left: 11.25rem;
}
.header_mid_left img{
    width: 4.25rem;
    height: 4.125rem;
}
.header_mid_right{
    position: absolute;
    right: 170px;
    color: white;
    margin: 20px 0;
    display: flex;
    column-gap: 2rem;
}
.header_mid_right a{
   text-decoration: none;
   color: white;
}

.navbar{
    height: 3.313rem;
    background-color: white;
    padding-left: 180px !important;
    font-weight: 600;
    font-size: 16px;
    line-height: 13px;
}
Nav{
    display: flex;
}
.navbar_links{
    color: black !important;
}
.navbar_links:hover{
    color: #d56130 !important;
    border-bottom: 2px solid #30D5C8;
}
.navbar_links:active{
    color: #30D5C8 !important;
}
