.container{
    margin-top: 200px;
}
.login-page {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .login-page form {
    display: flex;
    flex-direction: column;
  }
  
  .login-page label {
    margin-bottom: 5px;
    display: block;
  }
  
  .login-page input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
  }
  
  .login-page button {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  .logo{
    text-align: center;
  }
  .logo img{
    width: 30%;
  }